
.contact-btn {
    position: fixed;
    bottom: 10%;
    right: 0;
    @include flex;
    gap: 4px;
    color: var(--bs-white);
    background-color: rgba(5, 168, 132, 1);
    padding: 10px;
    writing-mode: vertical-rl;
    img {
        width: 20px;
        height: 20px;
    }
}


.head {
    font-weight: 500;
    letter-spacing: -2%;

    span {
        width: 4px;
        height: 5px;
        display: inline-block;
        background-color: $primary-color;
        margin-left: 2px;
    }
}
