.contact-btn {
    position: fixed;
    top: 76%;
    right: 0;
    @include flex;
    gap: 4px;
    color: var(--bs-white);
    background-color: rgba(5, 168, 132, 1);
    padding: 10px;
    writing-mode: vertical-rl;
    z-index: 999;

    img {
        width: 20px;
        height: 20px;
    }
}


.head {
    font-weight: 500;
    letter-spacing: -2%;

    span {
        width: 4px;
        height: 5px;
        display: inline-block;
        background-color: $primary-color;
        margin-left: 2px;
    }
}

@media (min-width:300px) and (max-width:767px) {
    .contact-btn {
        top: 60% !important;
    }

    .head {
        text-align: center !important;
    }

    #services,
    #about,
    #map {
        padding: $fs-8 0;
    }
}

@media (min-width:767px) and (max-width:1024px) {
    .contact-btn {
        top: 30% !important;
    }
}